html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #5a5abb;
	font-size: 100%;
	background-color: #fdf9f6;
	background: url("../media/bg1.jpg") no-repeat center left fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #5a5abb;
}

	a:hover {
		color: #2b2b68;
	}

/* Sidebar Nav */

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

/* Sidebar Styles */
#sidebar-wrapper{
	background-color: #fdf9f6;
}

.sidebar-header{
	top: 0;
	margin: 0 auto;
	height: 120px;
}

.sidenav {
	padding-left: 0;
	width: 100%;
	display: inline-block;
	list-style: none;
}

.sidenav > li{
	width: 100%;
	float: none;
	padding: 0 20px;
}

.sidenav > li a{
	display: block;
	border-top: 1px dotted rgba(40,38,43,0.1);
	text-transform: uppercase;
	text-decoration: none;
}

.ItsMe img {
	position: absolute;
	left: 20%;
	max-width: 90%;
	max-height: 90%;
}
